      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      
      #map {
          height: 80%;
          position: relative;
          margin-top: 10px;
      }
      
      #adminbutton {
          position: absolute;
          right: 30px;
          top: 20px;
          z-index: 99;
      }
      
      #admin {
          position: absolute;
          right: 5px;
          top: 80px;
          z-index: 99;
          background-color: rgba(222, 228, 233, 0.8);;
          padding: 5px;
      }
      
      #menu {
          position: absolute;
          right: 60px;
          bottom: 60px;
          z-index: 99;
      }
      
      #search-form {
          position: absolute;
          right: 100px;
          bottom: 64px;
      }
      
      .hide {
          display: none;
      }
      /* Optional: Makes the sample page fill the window. */
      
      html,
      body {
          height: 100%;
          margin: 0;
          padding: 0;
      }
